{% extends 'base/main.html' %} {% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have {{count}} task{{ count|pluralize:"s" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" style="color: grey; font-size: large;">Logout</a> 
    {% else %}
        <a href="{% url 'login' %}" style="color: grey; font-size: large;">Login</a> 
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px;display: flex; padding-bottom: 10px;">
        <input type="text" name="search-area" value="{{search_input}}">
        <button type="submit" class="btn btn-warning">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <a class="add-task"href="{% url 'task-create' %}"><i class="bi bi-plus-circle"></i></a>
</div>



<div class="task-item-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-title">
                    <i class="bi bi-circle-fill pr-4" style="color: rgb(108, 194, 108);"></i>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}"><i class="bi bi-x-circle"></i></a>
            {% else %}
                <div class="task-title">
                    <i class="bi bi-circle-fill pr-4" style="color: rgb(221, 220, 220);"></i>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                <a class="delete-link "href="{% url 'task-delete' task.id %}"><i class="bi bi-x-circle" ></i></a>
            {% endif %}
            
            
        </div>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>


 <!-- <table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
     {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No Items in list</h3>
    {% endfor %}
 </table> -->

 {% endblock content %}

